<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862544011221-3305t5tvdlhapse599luvv30gu6thv2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862544011221-3305t5tvdlhapse599luvv30gu6thv2m</string>
	<key>API_KEY</key>
	<string>AIzaSyCWsbjgnLs2KF9OEgOj3Af4iV3jmS9LPks</string>
	<key>GCM_SENDER_ID</key>
	<string>862544011221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PartTime</string>
	<key>PROJECT_ID</key>
	<string>yhacks-b57d5</string>
	<key>STORAGE_BUCKET</key>
	<string>yhacks-b57d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862544011221:ios:14075966c478834e71a75c</string>
	<key>DATABASE_URL</key>
	<string>https://yhacks-b57d5.firebaseio.com</string>
</dict>
</plist>